<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h2>This instagram account belongs to : <%= data.name %></h2>
    <button>follow</button>
    <button>message</button>
    <p>followers : <%= data.followers %></p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>following : <%= data.following %> </p>
    <hr>
</body>
</html>